body{

    /* background-size:  800px auto ;
    padding: 100px; */
  }
  .search-header{
    text-align: center;
    
      background: white;
      margin: 50px 50px;
      padding: 75px;
      opacity: .7;
  } 
  
  .header-image{
    background-image: url("../images/dinner.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    padding: 100px; 
  }
  
  h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 100px;
      color: black;
  }
  
  input[type=text] {
      background-color: white;
      color: black;
  }